<div class="form form-request">
  <div class="form-wrapper">
    <div class="form-content">
      <div class="form-request__title">Оставить заявку</div>
      <div class="form-request__text">
        Оставьте заявку и наш менеджер свяжется с вами для уточнения деталей.
      </div>
      <form class="form-request__form">
        <div class="form__wrapper">
          <label class="request__input">
            <input id="name" name="name" required type="text" />
            <span class="request__input-placeholder">Ваше имя</span>
          </label>
        </div>
        <div class="form__wrapper">
          <label class="request__input">
            <input id="email" name="email" required type="text" />
            <span class="request__input-placeholder">Ваш email</span>
          </label>
        </div>
        <div class="form__wrapper">
          <label class="request__input">
            <input id="phone" name="phone" required type="text" />
            <span class="request__input-placeholder"
              >Контактный телефон<b>*</b></span
            >
          </label>
        </div>
        <div class="form__wrapper">
          <label class="request__input">
            <textarea id="message" name="message"></textarea>
            <span class="request__input-placeholder">Ваше имя</span>
          </label>
        </div>
        <button class="btn btn__primary" data-form="close-form">
          Отправить
        </button>
      </form>
    </div>
  </div>
</div>
